@media(min-width: 768px) {
    .testimonal_bg {
        background-image: url(../assets/customer-saying-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media(max-width: 768px) {
    .testimonal_bg {
        background-image: url(../assets/testimonal-bg.png);
        background-repeat: no-repeat;
    }
}